body {
    visibility: visible;
}

@import '~bootstrap/scss/bootstrap';

.my-card {
    height: 430px;
}

.my-card-img {
    height: 230px;

    img {
        height: 100%;
        object-fit: cover;
    }
}

.card-body {
    padding-top: 0;
}